.invertedRadiusTop:before{
  content: "";
  position: fixed;
  background-color: transparent;
  display: inline-block;
  height: 100px;
  width: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transform: translate(0, -100%);
  box-shadow: 0 50px 0 0 #212529;
  z-index: -1;
}